* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    align-items: center;
    gap: 30px;
}

.headerLeft {
    display: flex;
    align-items: center;

}

.logo {
    padding: 24px 30px;
    border-right: 1px solid #ccc;
}

.headerAddress {
    padding: 20px 30px;
}

.headerAddress h3 {
    font-size: 18px;
    margin-bottom: 5px;

}

.headerAddress p {
    font-size: 14px;
    color: #666;
}

.searchBox {
    flex-grow: 1;
    background-color: #f8f8f8;
    display: flex;
    border: 1px solid #f4f4f4;
    border-radius: 15px;
}

.searchBox button {

    padding: 15px;
    border: none;
    background-color: transparent;
}

.searchBox input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
}

.searchBox input:focus {
    outline: none;
}

.headerBtn {
    margin-right: 40px;
    gap: 40px;
    display: flex;
}

.headerBtn button {
    font-size: 16px;
    padding: 15px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}

.headerBtn button:last-child {
    background-color: rgb(12, 131, 31);
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.bannerSection {
    max-width: 1280px;
    margin: 0px auto;
}

.bannerSection img {
    width: 100%;
}

.orderBanner {
    display: flex;
    max-width: 1280px;
    margin: 0px auto;
}

.orderBannerItems {
    flex-basis: 27%;
    margin: 1%;
}

.orderBannerItems img {
    width: 100%;
}

.categorySection {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.categoryItems {
    flex-basis: 10%;
}

.categoryItems img {
    width: 100%;
    padding: 10px;
}

.productSection {
    max-width: 1280px;
    padding: 30px 0px 0px 0px;
    margin: auto;

}

.headingRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.headingRow h2 {
    font-size: 22px;
}

.headingRow a {
    color: #328839;
    font-size: 18px;
}


.productRow {
    width: 100%;
    margin: 30px 0px 0px 0px;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
}

.productItems {
    flex-basis: 15%;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 2px #ccc;
}

.productImg {
    text-align: center;
    padding: 15px;
}

.productImg p {
    background-color: #f8f8f8;
    display: flex;
    font-size: 12px;
    text-align: left;
    align-items: center;
    width: 70px;
    padding: 2px;
    justify-content: center;
    gap: 5px
}

.productContent {
    padding: 15px;
    padding-top: 0px;

}

.productContent h3 {
    font-size: 14px;
    margin-bottom: 15px;
}

.productContent p {
    font-size: 14px;
    color: #848080;

}

.btn-price-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.btn-price-outer button {
    padding: 5px 15px;
    background-color: #f7fff9;
    border: 1px solid #328839;
    border-radius: 10px;
}

footer {
    padding: 40px 20px 20px;
}

.footer-mid {
    max-width: 1280px;
    margin: auto;
}

.footer-mid-row1 {
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.footer-mid-row1-left {
    flex-basis: 30%;
}

.footer-mid-row1-left h3 {
    margin-bottom: 20px;
}

.useFullLinks {
    display: flex;
    gap: 30px;
}

.useFullLinks ul {
    flex-basis: 33%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.useFullLinks ul li a {
    font-size: 14px;
    display: block;
    color: rgb(102, 102, 102);
    margin-bottom: 15px;
}

.footer-mid-row1-right {
    flex-basis: 70%;
}

.CategoriesHeadingRow {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
}

.footerLinks {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin-top: 40px;
}

.footerLinks ul {
    flex-basis: 30%;
    list-style: none;
}

.footerLinks li a {
    font-size: 14px;
    display: block;
    color: rgb(102, 102, 102);
    margin-bottom: 15px;
}

.footer-mid-row3 p {
    padding: 20px 0px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(102, 102, 102);
}

.footer-mid-row2 {
    background-color: #fcfcfc;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
}

.footer-mid-row2 p {
    flex-basis: 40%;
    font-size: 14px;
    text-align: center;

}

.appicons {
    display: flex;
    align-items: center;
    flex-basis: 30%;
    gap: 10px;
}

.socialIcons {
    display: flex;
    gap: 20px;
}

.socialIcons i {
    width: 40px;
    color: white;
    height: 40px;
    border-radius: 50%;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
}